
<%= render 'shared/navbar' %>
<div class="wrapper">
  <header>
  <div class="banner-landing" style = "background-image: url('https://images.unsplash.com/photo-1521412644187-c49fa049e84d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80');">
    <div class="banner-content">
        <div id="banner-title" style = "color: white" style = "text-shadow: 2px 2px #black">
          <h2>All my Bookings</h2>
            <ul>
              <% @bookings.each do |booking| %>
                <li><strong><%= "#{booking.offer.title}" %></strong>
                  <br><%= "#{booking.offer.location}" %>
                  <br><%= "#{booking.offer.pick_up_at}" %>
                </li>
              <% end %>
            </ul>
          <h2>All my Offers</h2>
            <ul>
              <% @offers.each do |offer| %>
                <li><strong><%= "#{offer.title}" %></strong>
                  <br><%= "#{offer.location}" %>
                  <br><%= "#{offer.pick_up_at}" %>
                </li>
              <% end %>
            </ul>
        </div>
    </div>
  </div>
</div>

