<div class="container mh-100 w-75 shadow p-3 mb-5 bg-white rounded">
  <div class="row m-5">

   <div class="col-sm m-5">
      <h2 class="mb-4">Book your equipment!</h2>
      <%= simple_form_for [@offer, @booking] do |f| %>
        <%= f.input :begin_on, as: :string, input_html: {class: "datepicker"}, label: "Choose the dates" %>
        <%= f.submit 'Reserve', class: 'btn btn-primary my-3' %>
      <% end %>
   </div>

    <div class="card-trip col-sm m-5">
      <%= cl_image_tag @offer.photo.key, crop: :fill%>
      <div class="card-trip-infos">
        <div>
          <h2><%= @offer.title %></h2>
        </div>
        <h2><%= "#{@offer.price} € / day" %></h2>
      </div>
    </div>

  </div>
</div>
  