<nav>
    <div class="menu">
    <div class="menu-icon">
        <i class="fas fa-spa"></i>
        <%= link_to "Sporte", root_path, class: "links-home"%>
    </div>
    <div class="menu-list">
        <ul>
            <%= link_to "Create offer",  new_offer_path, class: "link-offer"%>
            <li>
                <% if user_signed_in? %>
                <div class="user d-flex justify-content-between items-align-center">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My account
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <%= link_to 'My Dashboard', bookings_path, class: "dropdown-item links-dropdown" %>
                            <a class="dropdown-item" href="#">Settings</a>
                            <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item links-dropdown", method: :delete%>
                        </div>
                    </div>
                    <img class="avatar m-3" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
                </div>
                <% else %>
                <%= link_to "Sign up", new_user_registration_path, class: "links" %> |
                <%= link_to "Login", new_user_session_path, class: "links"%>
                <% end %>
            </li>
        </ul>
    </div>
    </div>
</nav>
