<nav>
    <div class="menu">
    <div class="menu-icon">
        <i class="fas fa-spa"></i>
        <%= link_to "Sporte", root_path, class: "links-home"%>
    </div>
    <div class="menu-list">
        <ul>
            <li>Community</li>
            <%= link_to "About us", new_user_session_path, class: "links"%>
            <li>
                <% if user_signed_in? %>
                <%= link_to "Logout", destroy_user_session_path, class: "links", method: :delete%>
                <% else %>
                <%= link_to "Sign up", new_user_registration_path, class: "links" %> |
                <%= link_to "Login", new_user_session_path, class: "links"%>
                <% end %>
            </li>
        </ul>
    </div>
    </div>
</nav>
