
<%= render 'shared/navbar' %>
<div class="grid-system mt-5">
<h1>All offers</h1>
  <div class="cards m-5">
    <% @offers.each do |offer| %>
    <div class="card" style="width: 18rem;">
     <%= link_to offer_path(offer) do %>
        <% if offer.photo.attached? %>
          <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
        <% else %>
          <% placeholder_url = "https://lunawood.com/wp-content/uploads/2018/02/placeholder-image.png" %>
          <%= image_tag placeholder_url, width: '400' %>
        <% end %>
      <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= offer.title %></h5>
          <p class="card-text"><%= offer.description %></p>
          <h5><%= offer.price %></h5>
        </div>
    </div>
    <% end %>
  </div>
<%= link_to 'Add an offer', new_offer_path, class: 'btn btn-primary' %>
</div>

<%= render 'shared/footer' %>
