<h1>All offers</h1>

<% @offers.each do |offer| %>
<div>
  <td><%= offer.title %> <%= offer.description %> <%= offer.category %> <%= offer.price %> <%= offer.location %> <%= offer.pick_up_at %></td>
</div>

<% end %>

<div class="card-container">
  <div class="card card-image"> <%#need to change it so that it displays the uploaded image%>
    <div class="card-img"></div>
    <a href="" class="card-link">
      <div class="card-img-hovered"></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-price">5 Euro</a>
      <div class="card-time">6/11/2018</div> <%#need to change it so that it displays time of the offer%>
      </div>
      <h1 class="card-title">Offer name</h1> <%# offer.name%>
      <div class="card-category"><a href="">Link to Overview?</a></div>
    </div>
  </div>
