<div class="container m-5">
      <div>
        <h1><%= @offer.title %></h1>
    <div class="content-description d-flex justify-content-between m-3">
      <h3><%= @offer.category %></h3>
      <p><%= @offer.description %></p>
    </div>
      </div>
    <div class="overview d-flex justify-content-between">
      <div class="overview-images d-flex justify-content-between">
        <div class="square-image" style="background-image: url(https://source.unsplash.com/collection/8271503)"></div>
        <div class="small-preview"> 
          <div class="preview-image mb-3" style="background-image: url(https://source.unsplash.com/collection/8271503)"></div>
          <div class="preview-image mt-3" style="background-image: url(https://source.unsplash.com/collection/8271503)"></div>
        </div>
      </div>
        <div class="pick-up p-5">
          <p><%= "Pick up at #{@offer.pick_up_at}" %></p>
          <h3><%= "#{@offer.price} €/ day" %></h3>
          <%= link_to 'Book now', new_offer_booking_path(@offer), class: 'btn btn-success'%>
        </div>
    </div>
</div>