<%= render 'shared/navbar' %>
<div class="container m-5">
    <div class="offer-title">
      <h1><%= @offer.title %></h1>
      <hr>
    </div>
    <div class="overview d-flex justify-content-between">
      <div class="overview-description d-flex justify-content-between m-3">
        <div class="content-category">
          <i class="fas fa-volleyball-ball"></i>
          <h3><%= @offer.category %></h3>
          <p><%= "Pick up at #{@offer.pick_up_at}" %></p>
        </div>
        <p><%= @offer.description %></p>
        <div class="booking">
          <h3><%= "#{@offer.price} €/ day" %></h3>
          <%= link_to 'Book now', new_offer_booking_path(@offer), class: 'btn btn-success'%>
        </div>
      </div>
    </div>  
    <hr>
</div>