<div class="container">
  <h1>Congrats you created successfully your first sports equipment to rent out!</h1>
  <h2>And here it is:</h2>
  <div>
    <h1><%= offer.title %></h1>
  </div>
  <div>
    <h3><%= offer.category %></h3>
    <p><%= offer.description %></p>
  </div>
  <div>
    <p><%= "Pick up at #{offer.pick_up_at}" %></p>
    <h3><%= "#{offer.price} €/ day" %></h3>
  </div>


    <%= link_to 'Kick me back to homepage', root_path, class: 'btn btn-primary'%>
</div>
